<div class="npc-form">
  <div class="row">
    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Nom</label>
        <input [(ngModel)]="npc.name" type="text" class="form-control" placeholder="Nom" />
      </div>
    </div>

    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Type</label>
        <select [(ngModel)]="npc.type" class="form-control">
          <option value="hostile">Hostile</option>
          <option value="salopard">Salopard</option>
          <option value="colosse">Colosse</option>
          <option value="patron">Patron</option>
          <option value="patron colosse">Patron colosse</option>
          <option value="bande">Bande</option>
          <option value="allie">Allié</option>
        </select>
      </div>
    </div>

    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Point faible</label>
        <input [(ngModel)]="npc.weakness" type="text" class="form-control" placeholder="Point faible" />
      </div>
    </div>

    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Niveau</label>
        <select [(ngModel)]="npc.level" class="form-control">
          <option value="recrue">Recrue</option>
          <option value="initié">Initié</option>
          <option value="héros">Héros</option>
        </select>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <div class="input-group">
            <label class="input-group-text">Couleur</label>
            <button class="btn npc-form-colorpicker" [(colorPicker)]="npc.color" [style.background-color]="npc.color">&nbsp;</button>
          </div>
        </div>

        <div class="col-9 npc-form-colors">
          <button class="btn" *ngFor="let color of ['#d3181f', '#f25a1e', '#9b1a25', '#556abc', '#69bfdc', '#70aa6c', '#40bd97', '#364379', '#cacd40', '#321619', '#ab1d94']"
            [style.background-color]="color"
            (click)="npc.color = color"
          >&nbsp;</button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="input-group" *ngFor="let aspect of npc.aspects">
        <label class="input-group-text">{{ aspect.name }}</label>
        <input [(ngModel)]="aspect.score" type="number" class="form-control" />
        <input [(ngModel)]="aspect.exceptional" type="number" class="form-control" />
        <div class="input-group-text">
          <input [(ngModel)]="aspect.major" type="checkbox" class="form-check-input mt-0" />
        </div>
      </div>
    </div>

    <div class="col-4" *ngFor="let props of properties">
      <div class="input-group" *ngFor="let prop of props">
        <label class="input-group-text">{{ prop.label }}</label>
        <input [(ngModel)]="$any(npc)[prop.property]" type="number" class="form-control" />
      </div>
    </div>

    <div class="col-6">
      <button class="btn btn-secondary" (click)="npc.addCapacity()">+ Capacité</button>

      <div class="npc-form-capacity" *ngFor="let capacity of npc.capacities">
        <div class="input-group">
          <label class="input-group-text">Nom</label>
          <ng-autocomplete
          [data]="capacities"
          searchKeyword="name"
          [initialValue]="capacity"
          [customFilter]="filter"
          [itemTemplate]="itemTemplate"
          (inputChanged)="changed($event, capacity)"
          (selected)="selected($event, capacity)"
          [focusFirst]="true"
        ></ng-autocomplete>
          <button class="btn btn-danger" tabindex="-1" (click)="npc.removeCapacity(capacity)">X</button>
        </div>

        <textarea class="form-control" [(ngModel)]="capacity.description"></textarea>
      </div>
    </div>

    <div class="col-6">
      <button class="btn btn-secondary" (click)="npc.addWeapon()">+ Arme</button>

      <div class="npc-form-weapon" *ngFor="let weapon of npc.weapons">
        <div class="input-group">
          <label class="input-group-text">Nom</label>
          <input [(ngModel)]="weapon.name" type="text" class="form-control" />
          <button class="btn btn-danger" tabindex="-1" (click)="npc.removeWeapon(weapon)">X</button>
        </div>

        <div class="input-group">
          <input [(ngModel)]="weapon.dices" type="number" class="form-control" />
          <span class="input-group-text">d6 + </span>
          <input [(ngModel)]="weapon.raw" type="number" class="form-control" />
          <div class="input-group-text">
            <input [(ngModel)]="weapon.contact" type="checkbox" class="form-check-input mt-0" />
          </div>
          <select [(ngModel)]="weapon.range" class="form-control">
            <option value="contact">Contact</option>
            <option value="courte">Courte</option>
            <option value="moyenne">Moyenne</option>
            <option value="longue">Longue</option>
            <option value="lointaine">Lointaine</option>
          </select>
        </div>

        <button class="btn btn-secondary" (click)="weapon.addEffect()">+ Effet</button>

        <div class="row">
          <div class="col-6" *ngFor="let effect of weapon.effects">
            <div class="input-group">
              <ng-autocomplete
                [data]="effects"
                searchKeyword="name"
                [initialValue]="effect"
                [customFilter]="filter"
                [itemTemplate]="itemTemplate"
                (inputChanged)="changed($event, effect)"
                (selected)="selected($event, effect)"
                [focusFirst]="true"
              ></ng-autocomplete>
              <button class="btn btn-danger" tabindex="-1" (click)="weapon.removeEffect(effect)">X</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-item>
  <a><strong [innerHTML]="item.name"></strong><br/><small>{{ item.tags.join(' ') }}</small></a>
</ng-template>
