<div class="npc-form">
  <div class="row">
    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Nom</label>
        <input [(ngModel)]="npc.name" type="text" class="form-control" placeholder="Nom" />
      </div>
    </div>

    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Type</label>
        <select [(ngModel)]="npc.type" class="form-control">
          <option value="hostile">Hostile</option>
          <option value="salopard">Salopard</option>
          <option value="colosse">Colosse</option>
          <option value="patron">Patron</option>
          <option value="patron colosse">Patron colosse</option>
          <option value="bande">Bande</option>
          <option value="allié">Allié</option>
        </select>
      </div>
    </div>

    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Point faible</label>
        <input [(ngModel)]="npc.weakness" type="text" class="form-control" placeholder="Point faible" />
      </div>
    </div>

    <div class="col-6">
      <div class="input-group">
        <label class="input-group-text">Niveau</label>
        <select [(ngModel)]="npc.level" class="form-control">
          <option value="recrue">Recrue</option>
          <option value="initié">Initié</option>
          <option value="héros">Héros</option>
        </select>
      </div>
    </div>

    <div class="col-12">
      <div class="row">
        <div class="col-3">
          <div class="input-group">
            <label class="input-group-text">Couleur</label>
            <button class="btn npc-form-colorpicker" tabindex="-1" [(colorPicker)]="npc.color" [style.background-color]="npc.color">&nbsp;</button>
          </div>
        </div>

        <div class="col-9 npc-form-colors">
          <button class="btn" tabindex="-1" *ngFor="let color of ['#d3181f', '#9b1a25', '#f25a1e', '#556abc', '#69bfdc', '#70aa6c', '#40bd97', '#364379', '#cacd40', '#321619', '#ab1d94', '#363d42', '#613382', '#867124']"
            [style.background-color]="color"
            (click)="npc.color = color"
          >&nbsp;</button>
        </div>
      </div>
    </div>

    <div class="col-4">
      <div class="input-group" *ngFor="let aspect of npc.aspects">
        <label class="input-group-text">{{ aspect.name }}</label>
        <input [(ngModel)]="aspect.score" type="number" title="Score" class="form-control" />
        <input [(ngModel)]="aspect.exceptional" type="number" title="Aspect exceptionnel" class="form-control" />
        <div class="input-group-text" title="Aspect exceptionnel majeur">
          <input [(ngModel)]="aspect.major" type="checkbox" class="form-check-input mt-0" />
        </div>
      </div>
    </div>

    <div class="col-4" *ngFor="let props of properties">
      <div class="input-group" *ngFor="let prop of props">
        <label class="input-group-text">{{ prop.label }}</label>
        <input [(ngModel)]="$any(npc)[prop.property]" type="number" class="form-control" />
        <button class="btn btn-secondary mt-0 mb-0 button-icon" *ngIf="prop.button" (click)="prop.button()" [title]="prop.tooltip">&#8635;</button>
      </div>
    </div>

    <div class="col-6">
      <div class="npc-form-capacity" *ngFor="let capacity of npc.capacities">
        <div class="input-group">
          <button class="btn btn-secondary button-icon" tabindex="-1" (click)="upCapacity(capacity)">&#8593;</button>
          <button class="btn btn-secondary button-icon" tabindex="-1" (click)="downCapacity(capacity)">&#8595;</button>
          <ng-autocomplete
            [data]="capacities"
            searchKeyword="name"
            [initialValue]="capacity"
            [customFilter]="filter"
            [itemTemplate]="itemTemplate"
            (inputChanged)="changed($event, capacity)"
            (selected)="selected($event, capacity)"
            [focusFirst]="true"
            placeholder="Nom"
          ></ng-autocomplete>
          <button class="btn btn-danger button-icon" tabindex="-1" (click)="npc.removeCapacity(capacity)" title="Supprimer la capacité">&#215;</button>
        </div>

        <textarea class="form-control" [(ngModel)]="capacity.description" placeholder="Description"></textarea>
      </div>

      <button class="btn btn-secondary" (click)="npc.addCapacity()">+ Capacité</button>
    </div>

    <div class="col-6">
      <div class="npc-form-weapon" *ngFor="let weapon of npc.weapons">
        <div class="input-group">
          <button class="btn btn-secondary button-icon" tabindex="-1" (click)="upWeapon(weapon)">&#8593;</button>
          <button class="btn btn-secondary button-icon" tabindex="-1" (click)="downWeapon(weapon)">&#8595;</button>
          <input [(ngModel)]="weapon.name" type="text" class="form-control" placeholder="Nom" />
          <button class="btn btn-danger button-icon" tabindex="-1" (click)="npc.removeWeapon(weapon)" title="Supprimer l'arme">&#215;</button>
        </div>

        <div class="input-group">
          <input [(ngModel)]="weapon.dices" type="number" class="form-control" />
          <span class="input-group-text">d6 + </span>
          <input [(ngModel)]="weapon.raw" type="number" class="form-control" />
          <button class="btn btn-secondary mt-0 mb-0 button-icon" (click)="npc.recomputeWeapon(weapon)" title="Calculer les dégâts">&#8635;</button>
          <div class="input-group-text">
            <input [(ngModel)]="weapon.contact" type="checkbox" class="form-check-input mt-0" />
          </div>
          <select [(ngModel)]="weapon.range" class="form-control">
            <option value="contact">Contact</option>
            <option value="courte">Courte</option>
            <option value="moyenne">Moyenne</option>
            <option value="longue">Longue</option>
            <option value="lointaine">Lointaine</option>
          </select>
        </div>

        <div class="input-group">
          <span class="input-group-text">Violence</span>
          <input [(ngModel)]="weapon.violenceDices" type="number" class="form-control" />
          <span class="input-group-text">d6 + </span>
          <input [(ngModel)]="weapon.violenceRaw" type="number" class="form-control" />
        </div>

        <div class="row">
          <div class="col-6" *ngFor="let effect of weapon.effects">
            <div class="input-group">
              <ng-autocomplete
                [data]="effects"
                searchKeyword="name"
                [initialValue]="effect"
                [customFilter]="filter"
                [itemTemplate]="itemTemplate"
                (inputChanged)="changed($event, effect)"
                (selected)="selected($event, effect)"
                [focusFirst]="true"
              ></ng-autocomplete>
              <button class="btn btn-danger button-icon" tabindex="-1" (click)="weapon.removeEffect(effect)" title="Supprimer l'effet">&#215;</button>
            </div>
          </div>
        </div>

        <button class="btn btn-secondary" (click)="weapon.addEffect()">+ Effet</button>
      </div>

      <button class="btn btn-secondary" (click)="npc.addWeapon()">+ Arme</button>
    </div>
  </div>
</div>

<ng-template #itemTemplate let-item>
  <a><strong [innerHTML]="item.name"></strong><br/><small>{{ item.tags.join(' ') }}</small></a>
</ng-template>
