.npc-form {
  label {
    text-transform: capitalize;

    &.input-group-text {
      width: 120px;
    }
  }

  .btn-secondary {
    margin-bottom: 5px;
  }

  .input-group {
    margin-bottom: 5px;
  }

  textarea {
    height: 129px;
  }

  &-weapon, &-capacity {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    padding: 5px;
    margin-bottom: 10px;
    background-color: #fafafa;
  }

  button.npc-form-colorpicker {
    width: auto;
    flex: 1 1 auto;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
  }

  &-colors button {
    margin-left: 10px;
    width: 38px;
  }
}