<div class="container-fluid">
  <div class="row">
    <div class="col-12 npc-header">
      <h2>Version normale</h2>
      <button class="btn btn-outline-secondary" (click)="generator = !generator">Générateur</button>
      <button class="btn btn-outline-primary" (click)="generate()" [hidden]="!generator">Générer</button>
    </div>
    <div class="col-12 npc-form-container" [hidden]="!generator">
      <div class="panel">
        <p class="text">
          <span class="badge rounded-pill bg-secondary">?</span>
          Les règles de génération de PNJ de cet outil sont différentes de celles de l'Atlas.
        </p>

        <app-npc-generator [options]="options"></app-npc-generator>
      </div>
      <hr />
    </div>
    <div class="col-12 col-xxl-6 npc-form-container">
      <div class="panel panel-flex">
        <app-npc-form [npc]="npc"></app-npc-form>
      </div>
    </div>
    <div class="col-12 col-xxl-6 npc-live">
      <div class="panel-flex">
        <app-npc [npc]="npc" id="npc-1"></app-npc>
        <div class="npc-buttons">
          <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="save(npc)">Sauvegarder</button>
            <button class="btn btn-outline-primary" (click)="image('npc-1')">Image</button>
            <button class="btn btn-outline-primary" (click)="import(npc)">Import</button>
            <button class="btn btn-outline-primary" (click)="export(npc)">Export</button>
            <button class="btn btn-outline-primary" (click)="convertToElite()" title="Générer une version élite">Élite</button>
          </div>
        </div>
      </div>
    </div>

    <hr [hidden]="!toElite"/>

    <div id="elite" class="col-12 npc-header" [hidden]="!toElite">
      <h2>Version élite</h2>
    </div>
    <p [hidden]="!toElite" class="text">
      <span class="badge rounded-pill bg-secondary">?</span>
      Les règles de conversion en élite de cet outil sont différentes de celles de l'Atlas.
    </p>
    <div class="col-12 col-xxl-6 npc-form-container" [hidden]="!toElite">
      <div class="panel panel-flex">
        <app-npc-form [npc]="elite"></app-npc-form>
      </div>
    </div>
    <div class="col-12 col-xxl-6 npc-live" [hidden]="!toElite">
      <div class="panel-flex">
        <app-npc [npc]="elite" id="npc-2"></app-npc>
        <div class="npc-buttons">
          <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="save(elite)">Sauvegarder</button>
            <button class="btn btn-outline-primary" (click)="image('npc-2')">Image</button>
            <button class="btn btn-outline-primary" (click)="export(elite)">Export</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row npc-list">
    <div class="col-12 npc-header">
      <h2>PNJ sauvegardés</h2>
        <button class="btn btn-outline-primary" (click)="massImport()">Importer plusieurs PNJ</button>
        <button class="btn btn-outline-primary" (click)="massExport()">Exporter plusieurs PNJ</button>
        <!-- <a class="btn btn-outline-primary" routerLink="/bestiary">Version imprimable</a> -->
    </div>

    <div class="col-12" *ngIf="list.length">
      <p class="text">
        <small>Les PNJ sauvegardés sont stockés dans les données locales de votre navigateur.</small>
      </p>
    </div>
    <div class="col-12 col-xxl-6 npc-block" *ngFor="let npc of list; let index = index;">
      <div class="panel-flex">
        <app-npc [npc]="npc" id="npc-list-{{ index }}"></app-npc>
        <div class="npc-buttons">
          <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="load(npc)">Charger</button>
            <button class="btn btn-outline-primary" (click)="image('npc-list-' + index)">Image</button>
            <button class="btn btn-outline-primary" (click)="export(npc)">Export</button>
          </div>
          <button class="btn btn-danger" tabindex="-1" (click)="delete(npc)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>

  <app-image></app-image>
  <app-export></app-export>
  <app-import></app-import>
  <app-mass-export></app-mass-export>
  <app-mass-import></app-mass-import>
</div>