<div class="page-header">
  <h1>Knight NPC generator</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 npc-header">
      <h2>Version normale</h2>

      <button class="btn btn-primary" (click)="convertToElite()">Élite</button>
      <button class="btn btn-primary" (click)="save(npc)">Sauvegarder</button>
    </div>
    <div class="col-md-12 col-xxl-6">
      <app-npc-form [npc]="npc"></app-npc-form>
    </div>
    <div class="col-md-12 col-xxl-6">
      <app-npc [npc]="npc"></app-npc>
    </div>
    <div class="col-12 npc-header" [hidden]="!toElite">
      <h2>Version élite</h2>

      <button class="btn btn-primary" (click)="save(elite)">Sauvegarder</button>
    </div>
    <div class="col-md-12 col-xxl-6" [hidden]="!toElite">
      <app-npc-form [npc]="elite" ></app-npc-form>
    </div>
    <div class="col-md-12 col-xxl-6" [hidden]="!toElite">
      <app-npc [npc]="elite"></app-npc>
    </div>
  </div>

  <hr />

  <div class="row npc-list">
    <div class="col-md-12 col-xxl-6 npc-block" *ngFor="let npc of list">
      <button class="btn btn-primary" (click)="load(npc)">Charger</button>
      <button class="btn btn-danger" tabindex="-1" (click)="delete(npc)">Supprimer</button>
      <app-npc [npc]="npc"></app-npc>
    </div>
  </div>
</div>