.npc-block {
  margin-bottom: 50px;
}

.npc-buttons {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 793px;
}

.npc-header {
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;

  .btn {
    margin-left: 20px;
  }
}

hr {
  background-color: white;
  opacity: 1;
}

.text {
  color: white;
}

.container-fluid {
  min-width: 950px;
}

.npc-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1839.98px) {
  .npc-form-container .panel {
    max-width: 1200px;
  }
}