<div class="page-header">
  <h1>Knight NPC Generator</h1>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12 npc-header">
      <h2>Version normale</h2>
      <button class="btn btn-secondary" (click)="generator = !generator">Générateur</button>
      <button class="btn btn-primary" (click)="generate()" [hidden]="!generator">Générer</button>
    </div>
    <div class="col-12" [hidden]="!generator">
      <div class="panel">
        <app-npc-generator [options]="options"></app-npc-generator>
      </div>
      <hr />
    </div>
    <div class="col-12 col-xxl-6">
      <div class="panel panel-flex">
        <app-npc-form [npc]="npc"></app-npc-form>
      </div>
    </div>
    <div class="col-12 col-xxl-6 npc-live">
      <div class="panel panel-flex">
        <app-npc [npc]="npc"></app-npc>
        <div class="npc-buttons">
          <button class="btn btn-primary" (click)="save(npc)">Sauvegarder</button>
          <button class="btn btn-primary" (click)="convertToElite()" title="Générer une version élite">Élite</button>
        </div>
      </div>
    </div>
    <hr [hidden]="!toElite"/>
    <div id="elite" class="col-12 npc-header" [hidden]="!toElite">
      <h2>Version élite</h2>
    </div>
    <div class="col-12 col-xxl-6" [hidden]="!toElite">
      <div class="panel panel-flex">
        <app-npc-form [npc]="elite"></app-npc-form>
      </div>
    </div>
    <div class="col-12 col-xxl-6 npc-live" [hidden]="!toElite">
      <div class="panel panel-flex">
        <app-npc [npc]="elite"></app-npc>
        <div class="npc-buttons">
          <button class="btn btn-primary" (click)="save(elite)">Sauvegarder</button>
        </div>
      </div>
    </div>
  </div>

  <hr />

  <div class="row npc-list">
    <div class="col-12" *ngIf="list.length">
      <p class="text">
        <small>Les PNJ sauvegardés sont stockés dans les données locales de votre navigateur.</small>
      </p>
    </div>
    <div class="col-12 col-xxl-6 npc-block" *ngFor="let npc of list">
      <div class="panel panel-flex">
        <app-npc [npc]="npc"></app-npc>
        <div class="npc-buttons">
          <button class="btn btn-primary" (click)="load(npc)">Charger</button>
          <button class="btn btn-danger" tabindex="-1" (click)="delete(npc)">Supprimer</button>
        </div>
      </div>
    </div>
  </div>
</div>