<div class="container-fluid">
  <div class="row">
    <h2>
      Qu'est ce que Knight NPC Generator ?
    </h2>

    <p>
      Knight NPC Generator est un outil de création de PNJ pour le jeu de rôle <i>Knight</i> des éditions Antre-Monde. Vous trouverez toutes les informations nécessaires sur le site officiel&nbsp;: <a href="https://knight-jdr.fr/">https://knight-jdr.fr/</a>
    </p>

    <h2>Comment partiper au projet ?</h2>

    <p>
      Si vous en avez les compétences et que vous désirez participer au projet, vous pouvez retrouver le projet sur <a href="https://github.com/dreignier/knight-npc-generator">github</a>.
    </p>

    <h2>Comment signaler un bug ou faire une suggestion ?</h2>

    <p>
      Le moyen le plus efficace est de créer un ticket sur projet <a href="https://github.com/dreignier/knight-npc-generator/issues">github</a>. Vous pouvez aussi retrouver le sujet qui parle de Knight NPC generator sur <a href="https://knight-jdr.forumactif.com/">les forums officiels du jeu de rôle <i>Knight</i></a> dans la partie réservée aux MJ.
    </p>

    <h2>
      Droits d'auteur
    </h2>

    <p>
      Le contenu du site est soumis aux droits d'auteur ©Antre-Monde Editions et n'est disponible que grâce à leur autorisation.
    </p>

    <h2>Licence</h2>

    <p>
      Le projet Knight NPC Generator est un projet opensource sous licence <a href="https://github.com/dreignier/knight-npc-generator/blob/main/LICENSE">GNU GPL v3</a>.
    </p>
  </div>
</div>