<div class="npc" [style.background-color]="npc.color">
  <div class="npc-headers">
    <div class="npc-header"><span>{{ npc.name }}</span></div>
    <div class="npc-header-sub"><span>{{ npc.type }} ({{ npc.level }})</span></div>
  </div>

  <div class="npc-line npc-aspects">
    <div class="npc-line-title">
      Aspects
    </div>

    <div class="npc-line-values">
      <div class="npc-line-value" *ngFor="let aspect of npc.aspects">
        <div class="npc-line-value-header">
          {{ aspect.name }}
        </div>
        <div class="npc-line-value-value">
          {{ aspect.score || '-' }}
        </div>
      </div>
    </div>
  </div>

  <div class="npc-line npc-aspects-exceptionals">
    <div class="npc-line-title">
      Aspects exceptionnels
    </div>

    <div class="npc-line-values">
      <div class="npc-line-value" *ngFor="let aspect of npc.aspects">
        <div class="npc-line-value-value">
          {{ aspect.exceptional ? ((aspect.major ? 'Majeur' : 'Mineur') + ' (' + aspect.exceptional + ')') : '-' }}
        </div>
      </div>
    </div>
  </div>

  <div class="npc-line npc-derived">
    <div class="npc-line-title">
      Valeurs dérivées
    </div>

    <div class="npc-line-values">
      <div class="npc-line-value">
        <div class="npc-line-value-header">
          Défense
        </div>
        <div class="npc-line-value-value">
          {{ npc.defense || '-' }}
        </div>
      </div>

      <div class="npc-line-value">
        <div class="npc-line-value-header">
          Réaction
        </div>
        <div class="npc-line-value-value">
          {{ npc.reaction || '-' }}
        </div>
      </div>

      <div class="npc-line-value">
        <div class="npc-line-value-header">
          Initiative
        </div>
        <div class="npc-line-value-value">
          {{ npc.initiative || '-' }}
        </div>
      </div>

      <div class="npc-line-value" *ngIf="npc.health">
        <div class="npc-line-value-header">
          {{ npc.type === 'bande' ? 'Cohésion' : 'PS' }}
        </div>
        <div class="npc-line-value-value">
          {{ npc.health }}
        </div>
      </div>

      <div class="npc-line-value" *ngIf="npc.resilience">
        <div class="npc-line-value-header">
          Résilience
        </div>
        <div class="npc-line-value-value">
          {{ npc.resilience }}
        </div>
      </div>

      <div class="npc-line-value" *ngIf="npc.armor">
        <div class="npc-line-value-header">
          PA
        </div>
        <div class="npc-line-value-value">
          {{ npc.armor }}
        </div>
      </div>

      <div class="npc-line-value" *ngIf="npc.outbreak">
        <div class="npc-line-value-header">
          Débordement
        </div>
        <div class="npc-line-value-value">
          {{ npc.outbreak }}
        </div>
      </div>

      <div class="npc-line-value" *ngIf="npc.shield">
        <div class="npc-line-value-header">
          Bouclier
        </div>
        <div class="npc-line-value-value">
          {{ npc.shield }}
        </div>
      </div>

      <div class="npc-line-value" *ngIf="npc.forcefield">
        <div class="npc-line-value-header">
          CdF
        </div>
        <div class="npc-line-value-value">
          {{ npc.forcefield }}
        </div>
      </div>

      <div class="npc-line-value" *ngIf="npc.energy">
        <div class="npc-line-value-header">
          PE
        </div>
        <div class="npc-line-value-value">
          {{ npc.energy }}
        </div>
      </div>

      <div class="npc-line-value npc-weakness" *ngIf="npc.weakness.length">
        <div class="npc-line-value-header">
          Point faible
        </div>
        <div class="npc-line-value-value">
          {{ npc.weakness }}
        </div>
      </div>
    </div>
  </div>

  <div class="npc-line" *ngIf="npc.capacities.length">
    <div class="npc-line-title">
      Capacités
    </div>

    <div class="npc-capacities">
      <div class="npc-capacity" *ngFor="let capacity of npc.capacities">
        <span class="npc-capacity-name">{{ capacity.name ? capacity.name + ' : ' : '' }}</span>
        <span class="npc-capacity-description">{{ capacity.description }}</span>
      </div>
    </div>
  </div>

  <div class="npc-line npc-weapons" *ngFor="let weapon of npc.weapons">
    <div class="npc-line-title">
      {{ weapon.contact ? 'Arme de contact' : 'Arme à distance' }}
    </div>

    <div class="npc-weapon">
      <div class="npc-weapon-name">
        {{ weapon.name }}
      </div>

      <div class="npc-weapon-stats">
        <div class="npc-line-value">
          <div class="npc-line-value-header">
            Dégâts
          </div>
          <div class="npc-line-value-value">
            {{ weapon.dices }}D6{{ weapon.raw ? ' + ' + weapon.raw : '' }}
          </div>
        </div>

        <div class="npc-line-value">
          <div class="npc-line-value-header">
            Portée
          </div>
          <div class="npc-line-value-value npc-weapon-range">
            {{ weapon.range }}
          </div>
        </div>

        <div class="npc-line-value npc-weapon-effects">
          <div class="npc-line-value-header">
            {{ weapon.effects.length > 1 ? 'Effets' : 'Effet' }}
          </div>
          <div class="npc-line-value-value">
            {{ weapon.effects.length ? weapon.effects.join(' / ') : '-' }}
          </div>
        </div>
      </div>
    </div>
  </div>

</div>